<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="error">
            {% if form.errors %}
                <p>Пароль и логин не совпадают. Попробуйте ещё раз.</p>
            {% endif %}
        </div>
        <div class="next">
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Ваш аккаунт не имеет доступа к этой странице, войдите с другого аккаунта.</p>
                {% else %}
                    <p>Пожалуйста войдите чтобы увидеть эту страницу.</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="form">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>

            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>

            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input type="submit" value="Вход" />
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</body>
</html>