<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="people">
            {% if people_list %}
            <ol>
                {% for person in people_list %}
                <li>
                    <p>{{person.surname}} {{person.name}} {{person.fathername}}, курс: {{person.course}},
                        Email: {{person.email}}, Телефон: {{person.phone}}, есть ли оплата: {{person.pay}}
                    {% if person.pay %}}
                    , Дата оплаты: {{ person.dateofpay}}
                    {% endif %}
                    {% if person.comment %}
                    , Комментарий: {{person.comment}}
                    {% endif %}</p>
                    <form action="">
                        <button>Изменить</button>
                    </form>
                    <form action="">
                        <button>Удалить</button>
                    </form>
                </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>Нет записей о пользователях</p>
            {% endif %}
        </div>
    </div>
</body>
</html>