<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="menu">
            <p><a href="/courses/admin/directions/">Направления</a></p>
            <p><a href="/courses/admin/courses/">Курсы</a></p>
            <p><a href="/courses/admin/people/">Пользователи</a></p>
        </div>
    </div>
</body>
</html>