<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новое направление</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="record">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr><td>Направление</td> <td>{{ form.name }}</td></tr>
                </table>
                <input type="submit" value="Создать" />
            </form>
        </div>
    </div>
</body>
</html>