<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="menu">
            <form action="/courses/admin/directions/create/">
                <p><a href="/courses/admin/directions/">Направления</a>
                <button>Добавить</button></p>
            </form>
            <form action="/courses/admin/courses/create/">
                <p><a href="/courses/admin/courses/">Курсы</a>
                <button>Добавить</button></p>
            </form>
            <form action="/courses/">
                <p><a href="/courses/admin/people/">Пользователи</a>
                <button>Добавить</button></p>
            </form>
        </div>
    </div>
</body>
</html>