<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Курсы</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="cour">
            {% if course_list %}
            <ol>
                {% for course in course_list %}
                <li>
                    <p><a href="{{ course.get_absolute_url_admin}}">{{ course.name }}</a>, Кол-во занятий: {{course.num}}, с {{course.firstdate}} по {{course.lastdate}}</p>
                    <form action="{{course.get_absolute_url_update}}">
                        <button>Изменить</button>
                    </form>
                    <form action="{{course.get_absolute_url_delete}}">
                        <button>Удалить</button>
                    </form>
                </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>Нет записей о курсах</p>
            {% endif %}
            <form action="/courses/admin/courses/create/">
                <button>Добавить</button>
            </form>
        </div>
    </div>
</body>
</html>