<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/courses/">Домашнаяя страница</a>
            <a href="/courses/admin/">Администратор</a>
        </div>
        <div class="people">
            {% if people_list %}
            <ol>
                {% for person in people_list %}
                <li>
                    <p><a href="{{ person.get_absolute_url_admin }}">{{person.surname}} {{person.name}} {{person.fathername}}</a>
                        , курс: {{person.course}}, Email: {{person.email}}, Телефон: {{person.phone}}</p>
                    <form action="{{ person.get_absolute_url_update }}">
                        <button>Изменить</button>
                    </form>
                    <form action="{{ person.get_absolute_url_delete }}">
                        <button>Удалить</button>
                    </form>
                </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>Нет записей о пользователях</p>
            {% endif %}
            <form action="/courses/admin/people/create/">
                <button>Добавить</button>
            </form>
        </div>
    </div>
</body>
</html>